    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#home" class="navbar-brand">iBuildWeb.site</a>
            </div><!-- /.navbar-header -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li><a href="#home">Start</a></li>
                    <li><a href="#nodes">Nodes</a></li>
                    <li><a href="#tools">Tools</a></li>
                    <li><a href="#work">Web Workers</a></li>
                    <li><a href="#learn">Dependencies</a></li>
                    <li class="active"><a href="#deploy">Deploy</a></li>
                </ul>
            </div><!-- /#navbar -->
        </div><!-- /.container-fluid -->
    </nav>


<div class="container">
	<h1 class="page-header">Deploy</h1>
<ul class="media-list">
    <li class="media">
        <a class="pull-left" href="http://4minutequote.com" target="new">
          <img class="media-object" src="src/img/poster.png">
        </a>
        <div class="media-body">
             <h4 class="media-heading">Send Me a Message</h4>
             	<a href="mailto:orlando@ibuildweb.site?subject=Awesome Website&body=Hello">orlando@ibuildweb.site</a>
        </div><!-- /.media-body -->
    </li><!-- /.media -->
    <li class="media">
        <a class="pull-left" href="https://github.com/Orlandohmor84" target="new">
           <img class="media-object" src="src/img/github-256.png">
        </a>
        <div class="media-body">
             <h4 class="media-heading"><a href="https://github.com/Orlandohmor84" target="new">Github</a></h4>
             <p class="lead">Check out how neat my code is!</p>
             <p>P.S. I hid instructions for a <strong>special gift</strong> in one of my projects. Can you find it?</p>
        </div><!-- /.media-body -->
    </li><!-- /.media -->
    <li class="media">
        <a class="pull-left" href="https://stackoverflow.com/users/5922652/orlando-morales-cochran?tab=profile" target="new">
          <img class="media-object" src="src/img/stackoverflow.png">
        </a>
        <div class="media-body">
             <h4 class="media-heading"><a href="https://stackoverflow.com/users/5922652/orlando-morales-cochran?tab=profile" target="new">Stack Overflow</a></h4>
             <p class="lead">Check me out helping others within the global coding community!</p>
        </div><!-- /.media-body -->
    </li><!-- /.media -->
    <li class="media">
        <a class="pull-left" href="https://www.behance.net/ibuildwebs" target="new">
          <img class="media-object" src="src/img/behance.png">
        </a>
        <div class="media-body">
             <h4 class="media-heading"><a href="https://www.behance.net/ibuildwebs" target="new">Behance</a></h4>
             <p class="lead">Check out how elegant my designs are!</p>
        </div><!-- /.media-body -->
    </li><!-- /.media -->
    <li class="media">
        <a class="pull-left" href="paypal.me/orlandohmor" target="new">
          <img class="media-object" src="src/img/coffee.png">
        </a>
        <div class="media-body">
             <h4 class="media-heading"><a href="http://paypal.me/orlandohmor" target="new">Buy Me A Coffee</a></h4>
             <p class="lead">Thanks for viewing my story. If you appreciated my story, show me some love and buy me a cup of coffee! With your support I will be adding a blog and some <strong>free templates and snippets</strong> for public consumption. Thanks!</p>
        </div><!-- /.media-body -->
    </li><!-- /.media -->
</ul>
</div><!-- /.container -->