<div class="jumbotron">
		<div class="container">
        	<h1>iBuildWeb.site</h1>
     	   <p>Agile Full Stack JavaScript Front End Web Developer Project Manager UI/UX Designer Search Engine Optimizer Security Hardener DevOps Engineer Jack of All Trades Consultant and Web Anything Builder</p>
     	   <p>This is my story. Told in content-driven design...</p>
			<p><a class="btn btn-primary btn-lg" role="button" href="#nodes">See Nodes I've Built</a></p>
        </div><!-- /.container -->
	</div><!-- /.jumbotron -->