    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#home" class="navbar-brand">iBuildWeb.site</a>
            </div><!-- /.navbar-header -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li><a href="#home">Start</a></li>
                    <li><a href="#nodes">Nodes</a></li>
                    <li><a href="#tools">Tools</a></li>
                    <li><a href="#work">Web Workers</a></li>
                    <li class="active"><a href="#learn">Dependencies</a></li>
                    <li><a href="#deploy">Deploy</a></li>
                </ul>
            </div><!-- /#navbar -->
        </div><!-- /.container-fluid -->
    </nav>

<div class="container">
	<h1 class="page-header">Dependencies</h1>
<ul class="media-list">
    <li class="media">
        <a class="pull-left" href="http://ibuildwebs.net" target="new">
          <img class="media-object" src="src/img/magic-wand.png">
        </a>
        <div class="media-body">
             <h4 class="media-heading">Associate of Science, Web and Graphic Design</h4>
             <h5>Florida Technical College, Kissimmee, FL</h5>
             <p class="lead"><strong>GPA:</strong> 3.9</p>
             </p><strong>Courses:</strong> Theory and Elements of Design, Web Programming, Implementing and Maintaining Websites</p>
        </div><!-- /.media-body -->
    </li><!-- /.media -->
    <li class="media">
        <a class="pull-left" href="http://ibuildwebs.net" target="new">
           <img class="media-object" src="src/img/browser.png">
        </a>
        <div class="media-body">
             <h4 class="media-heading">CIW Web Design Professional</h4>
             <p class="lead"><strong>Topics:</strong> Web and Graphic Design, Web Marketing, Site Development/Infrastructure, Digital Advertising</p>
        </div><!-- /.media-body -->
    </li><!-- /.media -->
    <li class="media">
        <a class="pull-left" href="http://ibuildwebs.net" target="new">
           <img class="media-object" src="src/img/startup.png">
        </a>
        <div class="media-body">
             <h4 class="media-heading">CIW Ecommerce Specialist</h4>
             <p class="lead"><strong>Topics:</strong> E-commerce Site Development, E-commerce Technology and Security, E-commerce Business, Marketing, and Legal Issues</p>
        </div><!-- /.media-body -->
    </li><!-- /.media -->
    <li class="media">
        <a class="pull-left" href="http://ibuildwebs.net" target="new">
           <img class="media-object" src="src/img/tablet.png">
        </a>
        <div class="media-body">
             <h4 class="media-heading">CIW Web Design Specialist</h4>
             <p class="lead"><strong>Topics:</strong> Site Development Essentials, Web Design Elements, Basic Web Technologies, Advanced Web Technologies</p>
        </div><!-- /.media-body -->
    </li><!-- /.media -->
    <li class="media">
        <a class="pull-left" href="http://ibuildwebs.net" target="new">
           <img class="media-object" src="src/img/layers.png">
        </a>
        <div class="media-body">
             <h4 class="media-heading">CIW Web Foundations</h4>
             <p class="lead"><strong>Topics:</strong> Site Development Associate, Internet Business Associate, Networking Technology Associate</p>
        </div><!-- /.media-body -->
    </li><!-- /.media -->
    <li class="media">
        <a class="pull-left" href="http://ibuildwebs.net" target="new">
           <img class="media-object" src="src/img/computing-cloud.png">
        </a>
        <div class="media-body">
             <h4 class="media-heading">CompTIA Network+</h4>
             <p class="lead"><strong>Topics:</strong> Network Architecture, Network Operations, Network Security, Troubleshooting, Industry Standards, Practices, and Network Theory</p>
        </div><!-- /.media-body -->
    </li><!-- /.media -->
    <li class="media">
        <a class="pull-left" href="http://ibuildwebs.net" target="new">
           <img class="media-object" src="src/img/cpu.png">
        </a>
        <div class="media-body">
             <h4 class="media-heading">CompTIA A+</h4>
             <p class="lead"><strong>Topics:</strong> PC Hardware, Networking, Laptops, Printers, Operational Procedures, Security, Mobile Devices, Troubleshooting</p>
        </div><!-- /.media-body -->
    </li><!-- /.media -->
</ul>
<p class="cta"><a class="btn btn-primary btn-lg" role="button" href="#deploy">Deploy</a></p>
</div><!-- /.container -->