<div class="container">
	<h1 class="page-header">Inherited Properties</h1>
<ul class="media-list">
    <li class="media">
        <a class="pull-left" href="http://4minutequote.com" target="new">
          <img class="media-object" src="src/img/icon.png">
        </a>
        <div class="media-body">
             <h4 class="media-heading">Associate of Science, Web and Graphic Design</h4>
             <h5>Florida Technical College, Kissimmee, FL</h5>
             <p class="lead"><strong>GPA:</strong> 3.9</p>
             </p><strong>Courses:</strong> </p>
        </div><!-- /.media-body -->
    </li><!-- /.media -->
    <li class="media">
        <a class="pull-left" href="http://examsimulator.org" target="new">
           <img class="media-object" src="src/img/icon.png">
        </a>
        <div class="media-body">
             <h4 class="media-heading">CIW Web Design Professional</h4>
             <p class="lead"><strong></strong> </p>
        </div><!-- /.media-body -->
    </li><!-- /.media -->
    <li class="media">
        <a class="pull-left" href="http://examsimulator.org" target="new">
           <img class="media-object" src="src/img/icon.png">
        </a>
        <div class="media-body">
             <h4 class="media-heading">CIW Ecommerce Specialist</h4>
             <p class="lead"><strong></strong> </p>
        </div><!-- /.media-body -->
    </li><!-- /.media -->
    <li class="media">
        <a class="pull-left" href="http://examsimulator.org" target="new">
           <img class="media-object" src="src/img/icon.png">
        </a>
        <div class="media-body">
             <h4 class="media-heading">CIW Web Design Specialist</h4>
             <p class="lead"><strong></strong> </p>
        </div><!-- /.media-body -->
    </li><!-- /.media -->
    <li class="media">
        <a class="pull-left" href="http://examsimulator.org" target="new">
           <img class="media-object" src="src/img/icon.png">
        </a>
        <div class="media-body">
             <h4 class="media-heading">CIW Web Foundations</h4>
             <p class="lead"><strong></strong> </p>
        </div><!-- /.media-body -->
    </li><!-- /.media -->
    <li class="media">
        <a class="pull-left" href="http://examsimulator.org" target="new">
           <img class="media-object" src="src/img/icon.png">
        </a>
        <div class="media-body">
             <h4 class="media-heading">CompTIA Network+</h4>
             <p class="lead"><strong></strong> </p>
        </div><!-- /.media-body -->
    </li><!-- /.media -->
    <li class="media">
        <a class="pull-left" href="http://examsimulator.org" target="new">
           <img class="media-object" src="src/img/icon.png">
        </a>
        <div class="media-body">
             <h4 class="media-heading">CompTIA A+</h4>
             <p class="lead"><strong></strong> </p>
        </div><!-- /.media-body -->
    </li><!-- /.media -->
</ul>
<p><a class="btn btn-primary btn-lg" role="button" href="#deploy">Deploy</a></p>
</div><!-- /.container -->