<div class="container">
	<h1 class="page-header">Next</h1>
<ul class="media-list">
    <li class="media">
        <a class="pull-left" href="http://4minutequote.com" target="new">
          <img class="media-object" src="src/img/icon.png">
        </a>
        <div class="media-body">
             <h4 class="media-heading">Send Me a Message</h4>
             
        </div><!-- /.media-body -->
    </li><!-- /.media -->
    <li class="media">
        <a class="pull-left" href="http://examsimulator.org" target="new">
           <img class="media-object" src="src/img/icon.png">
        </a>
        <div class="media-body">
             <h4 class="media-heading">Github</h4>
             <p class="lead">Check out how neat my code is!</p>
             <p>P.S. I hid instructions for a <strong>special gift</strong> in one of my projects. Can you find it?</p>
        </div><!-- /.media-body -->
    </li><!-- /.media -->
    <li class="media">
        <a class="pull-left" href="http://roguerunnerzjax.com" target="new">
          <img class="media-object" src="src/img/icon.png">
        </a>
        <div class="media-body">
             <h4 class="media-heading">Stack Overflow</h4>
             <p class="lead">Check me out helping others within the global coding community!</p>
        </div><!-- /.media-body -->
    </li><!-- /.media -->
    <li class="media">
        <a class="pull-left" href="http://ibuildwebs.net" target="new">
          <img class="media-object" src="src/img/icon.png">
        </a>
        <div class="media-body">
             <h4 class="media-heading">Behance</h4>
             <p class="lead">Check out how elegant my designs are!</p>
        </div><!-- /.media-body -->
    </li><!-- /.media -->
    <li class="media">
        <a class="pull-left" href="http://ibuildwebs.net" target="new">
          <img class="media-object" src="src/img/icon.png">
        </a>
        <div class="media-body">
             <h4 class="media-heading">Buy Me A Coffee</h4>
             <p class="lead"></p>
        </div><!-- /.media-body -->
    </li><!-- /.media -->
</ul>
</div><!-- /.container -->