    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#home" class="navbar-brand">iBuildWeb.site</a>
            </div><!-- /.navbar-header -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li><a href="#home">Start</a></li>
                    <li><a href="#nodes">Nodes</a></li>
                    <li class="active"><a href="#tools">Tools</a></li>
                    <li><a href="#work">Web Workers</a></li>
                    <li><a href="#learn">Dependencies</a></li>
                    <li><a href="#deploy">Deploy</a></li>
                </ul>
            </div><!-- /#navbar -->
        </div><!-- /.container-fluid -->
    </nav>

<div class="container">
	<h1 class="page-header">Tools</h1>
<ul class="media-list">
    <li class="media">
        <a class="pull-left" href="http://4minutequote.com" target="new">
          <img class="media-object" src="src/img/smartphone.png">
        </a>
        <div class="media-body">
             <h4 class="media-heading">Languages/Libraries</h4>
             <p>Strength in front end development. Focused on perfecting full stack JavaScript craft.</p>
             <p class="lead"><strong>Expert:</strong> HTML5, CSS3, JavaScript, jQuery, Bootstrap, LESS, GulpJS, JSON, XML, Markdown</p>
             </p><strong>Strong:</strong> AngularJS, AJAX, PHP, jQueryUI, YAML</p>
             <p class="small"><strong>Learning:</strong> NodeJS, MongoDB, MongooseJS, ExpressJS, MySQL, SASS, GruntJS, Laravel</p>
        </div><!-- /.media-body -->
    </li><!-- /.media -->
    <li class="media">
        <a class="pull-left" href="http://examsimulator.org" target="new">
           <img class="media-object" src="src/img/keyboard.png">
        </a>
        <div class="media-body">
             <h4 class="media-heading">Workflow</h4>
             <p>Efficiently and effectively develop using either modern Agile or traditional Waterfall approach in a version-controlled, fast-paced environment using modular methods.</p>
             <p class="lead"><strong>Tools:</strong> JIRA, Slack, Git, Bitbucket, Github, Sublime Text 2, XAMPP, NodeJS, NPM, GulpJS, Bower, Yeomen, Bash Shell, Google Cloud Platform, Google Cloud Console, Google App Engine SDK</p>
             <p>Also able to effectively code on the fly using Android mobile devices.</p>
             <p class="lead"><strong>Mobile Development Tools:</strong> JIRA, Trello, Slack, QuickEdit Pro, PHP Server, SGit, Bitbucket, Photo Compress, Termux, Google Cloud Console</p>
        </div><!-- /.media-body -->
    </li><!-- /.media -->
    <li class="media">
        <a class="pull-left" href="http://roguerunnerzjax.com" target="new">
          <img class="media-object" src="src/img/pie-charts.png">
        </a>
        <div class="media-body">
             <h4 class="media-heading">Project Management</h4>
             <p>Efdectively lead and manage teams using both an Agile and Waterfall approach, or any mix thereof, while maximizing resources.</p>
             <p class="lead"><strong>Tools:</strong> JIRA, Bitbucket, Github, Google Cloud Platform, Microsoft Office, Google Apps, cPanel</p>
        </div><!-- /.media-body -->
    </li><!-- /.media -->
    <li class="media">
        <a class="pull-left" href="http://ibuildwebs.net" target="new">
          <img class="media-object" src="src/img/statistics.png">
        </a>
        <div class="media-body">
             <h4 class="media-heading">Expanded Tool Set</h4>
             <p>Experience in all facets of web projects from planning and design to deployment and maintenance has expanded my toolbox to also add the following dimensions to any project.</p>
             <p class="lead"><strong>User Interface/User Experience:</strong> Wireframing, Storytelling, Rapid Prototyping, Graphic Design, Adobe Creative Cloud, Efficient Site Architecture Planning, User Flow Optimization, Effective Research Gathering/Analysis</p>
             <p class="lead"><strong>SEO/Content Development:</strong> Google Webmaster Tools, Google Analytics, Google Tag Manager, Google AdWords, Keyword Optimization, Rich Snippets, Microdata, Sales Copywriting, Content Editing</p>
        </div><!-- /.media-body -->
    </li><!-- /.media -->
    <li class="media">
        <a class="pull-left" href="http://ibuildwebs.net" target="new">
          <img class="media-object" src="src/img/chat.png">
        </a>
        <div class="media-body">
             <h4 class="media-heading">Soft Skills</h4>
             <p>"When you love what you do, you're never really working!"</p>
             <p class="lead">Excellent Communication  Skills, People-friendly, Analytical, Ambitious, Detail-Oriented, Goal-driven, Fast-paced workmanship, Punctual, Self-motivated</p>
        </div><!-- /.media-body -->
    </li><!-- /.media -->
</ul>
<p class="cta"><a class="btn btn-primary btn-lg" role="button" href="#work">See Web Workers</a></p>
</div><!-- /.container -->