<div class="container">
	<h1 class="page-header">Web Worker</h1>
<ul class="media-list">
	<li class="media">
        <a class="pull-left" href="http://roguerunnerzjax.com" target="new">
          <img class="media-object" src="src/img/icon.png">
        </a>
        <div class="media-body">
             <h4 class="media-heading">Web Developer</h4>
             <h5>America Insurance Group</h5>
             <h6>July 2016 - Present</h6>
             <p>Plan, design, develop, create content, and maintain several public facing and in-house web projects to generate revenue, as well as support sales teams for several different companies in a variety of industries.</p>
             <p class="lead"><strong>Tools:</strong> JIRA, Git, Bitbucket, Github, Google Cloud Platform, Google App Engine, Google Compute Engine, Google Cloud Console, Google App Engine SDK, Google Apps, cPanel, XAMPP, Filezilla, MySQL, Google Cloud SQL, Bash Shell, Sublime Text 2, Inkscape, GIMP 2, WordPress, Bower, Yeomen</p>
             <p class="lead"><strong>Languages/Libraries:</strong> HTML5, CSS3, JavaScript, jQuery, Bootstrap, PHP, AngularJS, LESS, NodeJS, JSON, XML, YAML, GulpJS, MySQL, AJAX</p>
 			<p class="lead"><strong>Public Projects:</strong> <a href="http://4minutequote.com" target="new">4 Minute Quote</a>, <a href="http://vacaexclusive.com" target="new">Vaca Exclusive</a>, <a href="http://gofundlife.com" target="new">Go Fund Life</a></p>
        </div><!-- /.media-body -->
    </li><!-- /.media -->
    <li class="media">
        <a class="pull-left" href="http://ibuildwebs.net" target="new">
          <img class="media-object" src="src/img/icon.png">
        </a>
        <div class="media-body">
             <h4 class="media-heading">Front End Developer Intern</h4>
             <p></p>
             <p class="lead"><strong></strong> </p>
             <p class="lead"><strong></strong> </p>
        </div><!-- /.media-body -->
    </li><!-- /.media -->
    <li class="media">
        <a class="pull-left" href="http://ibuildwebs.net" target="new">
          <img class="media-object" src="src/img/icon.png">
        </a>
        <div class="media-body">
             <h4 class="media-heading">Freelance Web Developer</h4>
             <p></p>
             <p class="lead"></p>
        </div><!-- /.media-body -->
    </li><!-- /.media -->
</ul>
<p><a class="btn btn-primary btn-lg" role="button" href="#learn">See How I Learned To Build</a></p>
</div><!-- /.container -->