<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
	        	<span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	     	</button>
             <a href="#home" class="navbar-brand">{{ title }}</a>
         </div><!-- /.navbar-header -->
         <div class="collapse navbar-collapse" id="navbar">
         	<ul class="nav navbar-nav">
            	<li class="active"><a href="#home">Start</a></li>
                <li><a href="#nodes">Nodes</a></li>
                <li><a href="#tools">Tools</a></li>
                <li><a href="#work">Web Workers</a></li>
                <li><a href="#learn">Dependencies</a></li>
                <li><a href="#deploy">Deploy</a></li>
            </ul>
        </div><!-- /#navbar -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1>Problem</h1>
			<p>Speed-to-Market: Marketing and business initiatives implementation delayed when requiring web coding.</p>
			<h1>Solution</h1>
			<p>Agile Full Stack JavaScript Developer UI/UX Designer Digital Marketing Strategist</p>
			<p>Meet Orlando Morales. This is my story. Told in content-driven design...</p>
			<p>For optimal experience select position you are looking to fill.</p>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-sm-offset-3"> 
			    	<form role="form">
						<select class="form-control" id="selectPosition" ng-change="positionHighlight()" ng-model="position">
							<option value>(select one)</option>
							<option>Developer</option>
							<option>Digital Marketer</option>
							<option>UI/UX</option>
							<option>Martech (Marketing + Technology)</option>
						</select>
						<p class="cta"><a class="btn btn-primary btn-lg" role="button" href="#nodes">See Nodes</a></p>
					</form>
					<!--<p class="developer">HTML5</p>
					<p class="marketer">Mailchimp</p>-->
				</div><!-- /.col -->
			</div><!-- /.row -->
			<img class="img-responsive" src="assets/img/icons/screen-1.png">
		</div><!-- /.col-->
	</div><!-- /.row -->
</div><!-- /.container -->