    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#home" class="navbar-brand">Dev.iBuildWeb.Solutions</a>
            </div><!-- /.navbar-header -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li><a href="#home">Start</a></li>
                    <li><a href="#nodes">Nodes</a></li>
                    <li><a href="#tools">Tools</a></li>
                    <li class="active"><a href="#work">Web Workers</a></li>
                    <li><a href="#learn">Dependencies</a></li>
                    <li><a href="#deploy">Deploy</a></li>
                </ul>
            </div><!-- /#navbar -->
        </div><!-- /.container-fluid -->
    </nav>

<div class="container">
	<h1 class="page-header">Web Workers</h1>
<ul class="media-list">
	<li class="media">
        <a class="pull-left" href="http://4minutequote.com" target="new">
          <img class="media-object" src="assets/img/logos/icon.png">
        </a>
        <div class="media-body">
            <h4 class="media-heading">Web Developer</h4>
            <h5>America Insurance Group</h5>
            <h6>July 2016 - Present</h6>
            <p>Plan, design, develop, create content, and maintain several public facing and in-house web projects to generate revenue, as well as support sales teams.</p>
            <p class="lead"><strong>Tools:</strong> JIRA, Git, Bitbucket, Github, Google Cloud Platform, Google App Engine, Google Compute Engine, Google Cloud Console, Google App Engine SDK, Google Apps, cPanel, XAMPP, Filezilla, MySQL, Google Cloud SQL, Bash Shell, Sublime Text 2, Inkscape, GIMP 2, WordPress, Bower, Yeomen</p>
            <p class="lead"><strong>Languages/Libraries:</strong> HTML5, CSS3, JavaScript, jQuery, Bootstrap, PHP, AngularJS, LESS, NodeJS, JSON, XML, YAML, GulpJS, MySQL, AJAX</p>
 			<p class="lead"><strong>Public Project:</strong> <a href="http://4minutequote.com" target="new">4 Minute Quote</a></p>
        </div><!-- /.media-body -->
    </li><!-- /.media -->
    <li class="media">
        <a class="pull-left" href="http://ibuildweb.solutions" target="new">
          <img class="media-object" src="assets/img/logos/logo.png">
        </a>
        <div class="media-body">
            <h4 class="media-heading">Project Manager</h4>
            <h5>iBuildWeb.Solutions</h5>
            <h6>January 2014 - Present</h6>
            <p>Web development proposals, sales, negotiations, contract writing, pricing, marketing, design, development, outsourcing, and project management.</p>
            <p class="lead"><strong>Past Clients/Partners:</strong> Superior Income Booster, Gleam &amp; Shine, <a href="http://roguerunnerzjax.com" target="new">Rogue Runnerz</a>, <a href="http://i4-web.com" target="new">i4-Web</a>, Orlando Concierge, <a href="http://misshispanainternacional.com" target="new">Miss Hispana Internacional</a>, PrMed Marketing, Infinite Signature Home Theatre Design</p>
        </div><!-- /.media-body -->
    </li><!-- /.media -->
    <li class="media">
        <div class="pull-left">
            <img class="media-object" src="assets/img/icons/browser.png">
        </div>
        <div class="media-body">
            <h4 class="media-heading">HTML Email Developer Intern</h4>
            <h5>GetQdIn</h5>
            <h6>August 2013 - December 2013</h6>
            <p>Translate static Photoshop mock-ups into HTML/CSS emails using PHP templates. Write clean, easy to comprehend code. Concisely communicate ideas and suggestions and effectively bridge communication between design and development teams.</p>
            <p class="lead"><strong>Tools:</strong> Sublime Text 2, GoTo Meeting, XAMPP, Adobe Photoshop</p>
            <p class="lead"><strong>Languages/Libraries:</strong> XHTML, CSS, PHP</p>
        </div><!-- /.media-body -->
    </li><!-- /.media -->
</ul>
<p class="cta"><a class="btn btn-primary btn-lg" role="button" href="#learn">See Dependencies</a></p>
</div><!-- /.container -->