    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#home" class="navbar-brand">Dev.iBuildWeb.Solutions</a>
            </div><!-- /.navbar-header -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li><a href="#home">Start</a></li>
                    <li><a href="#nodes">Nodes</a></li>
                    <li><a href="#tools">Tools</a></li>
                    <li class="active"><a href="#work">Web Workers</a></li>
                    <li><a href="#learn">Dependencies</a></li>
                    <li><a href="#deploy">Deploy</a></li>
                </ul>
            </div><!-- /#navbar -->
        </div><!-- /.container-fluid -->
    </nav>

<div class="container">
	<h1 class="page-header">Web Workers</h1>
	
	<div class="row">
        <div class="col-xs-12 col-sm-7 col-sm-push-5">
            <h4 class="media-heading">Digital Marketing Strategist</h4>
            <h5>Vaca Exclusive</h5>
            <h6>October 2016 - Present</h6>
            <p>Develop and manage digital marketing campaigns. Design, develop, and manage online brand and digital assets including website, banners, and emails. Track conversion rates and continuously optimize website and marketing campaigns. Install and integrate sales and marketing support systems using REST APIs. Train sales staff to properly use software systems. Analyze data to effectively draw conclusions and optimize marketing processes.</p>
            <p class="lead"><strong>Tools:</strong> JIRA, Git, Bitbucket, Github, Google Apps, Mailchimp, Google Analytics, cPanel, NodeJS, Filezilla, Bash Shell, Visual Studio Code, Inkscape, GIMP 2, Solve360, Phone Burner, Tmax Dialer, Augutech Predictive Dialer, Vonage Business, Facebook, Add This</p>
            <p class="lead"><strong>Languages/Libraries:</strong> HTML5, CSS3, JavaScript, jQuery, Bootstrap, PHP, AngularJS, LESS, NodeJS, W3.JS, JSON, XML, YAML, GulpJS, MySQL, AJAX</p>
            <p class="lead"><strong>Public Project:</strong> <a href="https://vacaexclusive.com/" target="_blank">Vaca Exclusive</a></p>
        </div><!-- /.col -->
        <div class="col-xs-12 col-sm-5 col-sm-pull-7">
        	<figure>
        		<img class="img-responsive" src="assets/img/screenshots/exploreResort-01.jpg">
				<figcaption><a href="https://vacaexclusive.com" target="new">VacaExclusive.com</a></figcaption>
        	</figure>
            <figure>
        		<img class="img-responsive" src="assets/img/screenshots/vacaAgent-01.png">
				<figcaption>Web App Agent Dashboard</figcaption>
        	</figure>
        </div><!-- /.col -->
    </div><!-- /.row -->
	
	<div class="row">
        <div class="col-xs-12 col-sm-7 col-sm-push-5">
            <h4 class="media-heading">Web Developer</h4>
            <h5>America Insurance Group</h5>
            <h6>July 2016 - Present</h6>
            <p>Plan, design, develop, create content, and maintain several public facing and in-house web projects to generate revenue and support sales teams. Utilize REST API to connect several different systems to improve process efficiency and data accuracy. Train sales agents to effectively use software systems.</p>
            <p class="lead"><strong>Tools:</strong> JIRA, Git, Bitbucket, Github, Google Analytics, Google Cloud Platform, Google App Engine, Google Compute Engine, Google Cloud Console, Google App Engine SDK, Google Apps, cPanel, XAMPP, Filezilla, MySQL, Google Cloud SQL, Bash Shell, Sublime Text 3, Inkscape, GIMP 2, WordPress, Bower, Yeomen</p>
            <p class="lead"><strong>Languages/Libraries:</strong> HTML5, CSS3, JavaScript, jQuery, Bootstrap, PHP, AngularJS, LESS, NodeJS, JSON, XML, YAML, GulpJS, MySQL, AJAX</p>
 			<p class="lead"><strong>Public Projects:</strong> <a href="http://4minutequote.com" target="_blank">4 Minute Quote</a>, <a href="http://obamacareadvisorgroup.com" target="_blank">Obamacare Advisor Group</a>, <a href="http://affordablehealthcareactsignup.com" target="_blank">Affordable Healthcare Act Signup</a>, <a href="http://americainsurancegroup.net" target="_blank">America Insurance Group</a></p>
        </div><!-- /.col -->
        <div  class="col-xs-12 col-sm-5 col-sm-pull-7">
        	<figure>
            	<img class="img-responsive" src="assets/img/screenshots/4min-02.png">
      		  <figcaption><a href="http://4minutequote.com" target="_blank">4minutuequote.com</a></figcaption>
            </figure>
   		    <figure>         
				<img class="img-responsive" src="assets/img/screenshots/america-01.png">
				<figcaption><a href="http://americainsurancegroup.net" target="_blank">AmericaInsuranceGroup.net</a></figcaption>
			</figure>
			<figure>
            	<img class="img-responsive" src="assets/img/screenshots/obama-01.png">
            	<figcaption><a href="http://obamacareadvisorgroup.com" target="_blank">ObamacareAdvisorGroup.com</a></figcaption>
            </figure>
            <figure>
            	<img class="img-responsive" src="assets/img/screenshots/affordable-01.png">
            	<figcaption><a href="http://affordablehealthcareactsignup.com" target="_blank">AffordableHealthcareActSignup.com</a></figcaption>
            </figure>
            <figure>
            	<img class="img-responsive" src="assets/img/screenshots/healthAgent-01.png">
            	<figcaption>Intuitive Agent Web Form</figcaption>
            </figure>
        </div><!-- /.col -->
    </div><!-- /.row -->
    
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-sm-push-5">
            <h4 class="media-heading">Project Manager</h4>
            <h5>iBuildWeb.Solutions</h5>
            <h6>January 2014 - Present</h6>
            <p>Web development proposals, sales, negotiations, contract writing, pricing, marketing, design, development, outsourcing, and project management.</p>
            <p class="lead"><strong>Clients:</strong> <a href="http://superiorincomebooster.com" target="_blank">Superior Income Booster</a>, Gleam &amp; Shine, <a href="https://orlandohmor84.github.io/mathis/public/" target="_blank">Mathis &amp; Sons</a>, <a href="http://roguerunnerzjax.com" target="_blank">Rogue Runnerz</a>, <a href="https://www.behance.net/gallery/17996713/Orlando-Concierge-Inc" target="_blank">Orlando Concierge</a>, <a href="http://misshispanainternacional.com" target="_blank">Miss Hispana Internacional</a>, PrMed Marketing, Infinite Signature Home Theatre Design</p>
        </div><!-- /.col -->
        <div class="col-xs-12 col-sm-5 col-sm-pull-7">
            <figure>
        		<img class="img-responsive" src="assets/img/screenshots/sib-01.png">
				<figcaption><a href="http://superiorincomebooster.com" target="_blank">SuperiorIncomeBooster.com</a></figcaption>
        	</figure>
            <figure>
        		<img class="img-responsive" src="assets/img/screenshots/mathis-01.png">
				<figcaption><a href="https://orlandohmor84.github.io/mathis/public/" target="_blank">Marketing Splash Page</a></figcaption>
        	</figure>
        	<figure>
        		<img class="img-responsive" src="assets/img/screenshots/rogueRunnerz-01.png">
				<figcaption><a href="http://roguerunnerzjax.com" target="_blank">RogueRunnerzJax.com</a></figcaption>
        	</figure>
        </div><!-- /.col -->
    </div><!-- /.row -->
    
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-sm-push-5">
            <h4 class="media-heading">HTML Email Developer Intern</h4>
            <h5>GetQdIn</h5>
            <h6>August 2013 - December 2013</h6>
            <p>Translate static Photoshop mock-ups into HTML/CSS emails using PHP templates. Write clean, easy to comprehend code. Concisely communicate ideas and suggestions and effectively bridge communication between design and development teams.</p>
            <p class="lead"><strong>Tools:</strong> Sublime Text 2, GoTo Meeting, XAMPP, Adobe Photoshop</p>
            <p class="lead"><strong>Languages/Libraries:</strong> XHTML, CSS, PHP</p>
        </div><!-- /.col -->
        <div class="col-xs-12 col-sm-5 col-sm-pull-7">
        	<figure>
            	<img class="img-responsive" src="assets/img/icons/browser.png">
            </figure>
        </div><!-- /.col -->
    </div><!-- /.row -->
	<p class="cta"><a class="btn btn-primary btn-lg" role="button" href="#learn">See Dependencies</a></p>
</div><!-- /.container -->